<section id="aboutme" class="aboutme-section">
  <div class="aboutme-content">
      <h2>Sobre Mí</h2>
      <p><span>Hola, soy Weiming Lai y no soy una IA, soy un programador.</span> Desarrollador de software interno, Consultor y QA de ERP Odoo. Actualmente, estoy desarrollando aplicaciones internas y gestionando la calidad del sistema ERP Odoo de la empresa. Mi enfoque está en mejorar los procesos internos y asegurar el correcto funcionamiento del software, mientras busco continuamente nuevas formas de optimizar las soluciones tecnológicas.</p>

      <div class="aboutme-row">
          <!-- Datos personales -->
          <div class="aboutme-col">
              <h3>Datos Personales</h3>
              <ul>
                <li>
                    <strong>GitHub</strong>
                    https://github.com/MingBaoWei
                </li>
                <li>
                    <strong>Linkedin</strong>
                    https://www.linkedin.com/in/weiming-lai/
                </li>
                <li>
                    <strong>Email</strong>
                     weiming.lai03&#64;gmail.com
                </li>
                <li>
                    <strong>Teléfono</strong>
                     624010770
                </li>
                <li>
                    <strong>Cumpleaños</strong>
                    02-09-2003
                </li>
                  <li>
                      <strong>Cargo Actual</strong>
                      <span>Desarrollador de Softwares y Consultor ERP Odoo</span>
                  </li>
              </ul>
          </div>

          <!-- Intereses -->
          <div class="aboutme-col">
              <h3>Intereses</h3>
              <div class="interests-container">
                  <div class="interest">
                      <span>Música</span>
                  </div>
                  <div class="interest">
                      <span>Viajar</span>
                  </div>
                  <div class="interest">
                      <span>Juegos</span>
                  </div>
                  <div class="interest">
                      <span>Deporte</span>
                  </div>
                  <div class="interest">
                      <span>Libros</span>
                  </div>
                  <div class="interest">
                      <span>Autos</span>
                  </div>
              </div>
          </div>
      </div>

      <button>
        <a href="assets/src/cv.pdf" download="CV_Weiming_Lai" style="text-decoration: none; color: white;">
          Descargar CV
        </a>
        <span class="overlay"></span>
      </button>
  </div>
</section>
