<section class="projects" id="projects">
  <div class="contenido-seccion">
      <h2>Proyectos y Experiencias</h2>
      <div class="fila">
          <!-------------------------------- Proyecto -------------------------------------->
          <div class="col project">
            <div class="project-content">
                <div class="project-description">
                    <h3>Sistema ERP ODOO - Grupo Iberochina</h3>
                    <p style="color: red;">
                      **IMPORTANTE**: El backend del sitio web está desplegado en su momento de forma gratuita, lo que significa que si
                      no ves nada en las otras pantallas seguramente se me ha terminado el plan gratuito.
                    </p>
                    <p>
                      Se trata de una plataforma web que permite la gestión integral de un
                      restaurante, incluyendo la visualización de menús, la realización de reservas, la
                      gestión de comentarios de clientes, la publicación de novedades...
                    </p>
                    <p>
                      Las tenologías principales que se usaron son: Angular (Frontend), node.js (Backend), MySQL (DATA BASE)
                    </p>
                    <p>
                      También la aplicación se divide en 2 tipos de usuarios, cliente y admin.
                      El usuario cliente es creado por el mismo usuario desde la plataforma, en cambio el usuario admin
                      no se puede crear, viene por defecto (y sí, obviamente el admin tiene cierto "poder" en la aplicación web):
                    </p>
                    <p style="color: yellow;">
                      admin&#64;gmail.com
                      <br>
                      admin
                    </p>
                    <p>
                      Este proyecto es mi TFG y fue realizado junto con otro compañero que se ocupaba más del frontend, 
                      y yo me ocupaba más del backend y la base de datos relacional. Dicho proyecto tiene una documentación COMPLETA 
                      que está en mi github o en el siguiente enlace, en donde hay documentación de todo: objetivos, tecnologías, estructura, metodología...
                    </p>
                    <br>
                    <a href="assets/src/Documentación.zip" download="documentacion_doublecook" target="_blank" class="project-link">
                      Descargar Documentación
                    </a>
                    <br><br>
                    <a href="https://mingbaowei.github.io/fullstack-application/" target="_blank" class="project-link">Ver Proyecto</a>
                    <br><br>
                    <a href="https://github.com/MingBaoWei/fullstack-application" target="_blank" class="project-link">Código público en Github</a>
                    <br><br>

                    <div class="project-image">
                      <img src="assets/img/doublecook.png" alt="Proyecto 1">
                    </div>
                </div>
            </div>
        </div>
          <!-------------------------- Proyecto 2 ----------------------------------->
          <div class="col project">
              <div class="project-content">
                  <div class="project-description">
                      <h3>DoubleCook - TFG</h3>
                      <p style="color: red;">
                        **IMPORTANTE**: El backend del sitio web está desplegado en su momento de forma gratuita, lo que significa que si
                        no ves nada en las otras pantallas seguramente se me ha terminado el plan gratuito.
                      </p>
                      <p>
                        Se trata de una plataforma web que permite la gestión integral de un
                        restaurante, incluyendo la visualización de menús, la realización de reservas, la
                        gestión de comentarios de clientes, la publicación de novedades...
                      </p>
                      <p>
                        Las tenologías principales que se usaron son: Angular (Frontend), node.js (Backend), MySQL (DATA BASE)
                      </p>
                      <p>
                        También la aplicación se divide en 2 tipos de usuarios, cliente y admin.
                        El usuario cliente es creado por el mismo usuario desde la plataforma, en cambio el usuario admin
                        no se puede crear, viene por defecto (y sí, obviamente el admin tiene cierto "poder" en la aplicación web):
                      </p>
                      <p style="color: yellow;">
                        admin&#64;gmail.com
                        <br>
                        admin
                      </p>
                      <p>
                        Este proyecto es mi TFG y fue realizado junto con otro compañero que se ocupaba más del frontend, 
                        y yo me ocupaba más del backend y la base de datos relacional. Dicho proyecto tiene una documentación COMPLETA 
                        que está en mi github o en el siguiente enlace, en donde hay documentación de todo: objetivos, tecnologías, estructura, metodología...
                      </p>
                      <br>
                      <a href="assets/src/Documentación.zip" download="documentacion_doublecook" target="_blank" class="project-link">
                        Descargar Documentación
                      </a>
                      <br><br>
                      <a href="https://mingbaowei.github.io/fullstack-application/" target="_blank" class="project-link">Ver Proyecto</a>
                      <br><br>
                      <a href="https://github.com/MingBaoWei/fullstack-application" target="_blank" class="project-link">Código público en Github</a>
                      <br><br>

                      <div class="project-image">
                        <img src="assets/img/doublecook.png" alt="Proyecto 1">
                      </div>
                  </div>
              </div>
          </div>
          <!-- Proyecto 2 -->
          <div class="col project">
              <div class="project-content">
                  <div class="project-description">
                    <h3>Los Serrano</h3>
                    <p>
                        Este proyecto fue desarrollado durante mis prácticas en <strong>Alten</strong> como programador Backend, desarrollé una API Rest para la gestión de una serie
                        de televisión, pero debido a restricciones empresariales, no es posible mostrar dicho proyecto. 
                        A pesar de esto, puedo compartir una descripción detallada de mi trabajo.
                    </p>
                    <p>
                        Utilicé <strong>Java</strong> y <strong>Spring Boot</strong> para el desarrollo del backend, y configuré un contenedor Docker para alojar <strong>SQL Server</strong>, donde diseñé y gestioné una base de datos relacional.
                    </p>
                    <p>
                        Durante el desarrollo de la API REST, creé Business Objects (BOs) para encapsular la lógica de negocio, Data Access Objects (DAOs) para gestionar la interacción con la base de datos, y las entidades del dominio (domain) que representaban los objetos persistentes.
                    </p>
                    <p>
                        Además, implementé Data Transfer Objects (DTOs), manejo de excepciones, controladores (controllers) y endpoints para la API. Utilicé <strong>Flyway</strong> para la migración de bases de datos, <strong>Swagger</strong> para documentar y probar la API, y <strong>Postman</strong> para las pruebas manuales.
                    </p>
                    <p>
                        También integré herramientas como <strong>SonarLink</strong> y <strong>SonarQube</strong> para el análisis estático del código, y realicé pruebas unitarias e integrales utilizando <strong>JUnit</strong> y <strong>Mockito</strong>. Para proteger la API, utilicé una implementación básica de seguridad con <strong>OAuth2</strong>.
                    </p>
                    <p>
                        Por último, empleé <strong>Hibernate</strong> y <strong>JPA</strong> como frameworks de persistencia, y gestioné versiones de código con <strong>Git</strong>.
                    </p>
                    <br>
                    <p>
                      Dejo aquí un PDF sobre dicho proyecto y las prácticas mucho más detallado.
                    </p>
                    <a href="assets/src/Detallamiento Prácticas Alten.pdf" download="detallamiento_practicas_alten" target="_blank" class="project-link">
                      Proyecto y prácticas más detallado
                    </a>
                      <br><br>
                    <div class="project-image">
                      <img src="assets/img/springboot_java.png" alt="Proyecto 2">
                    </div>
                  </div>
              </div>
          </div>
          <!-- Proyecto 3 -->
          <div class="col project">
            <div class="project-content">
                <div class="project-description">
                  <h3>SportsConnect</h3>
                  <p style="color: red;">
                    **Este proyecto me permitió adquirir habilidades clave de liderazgo, trabajo en equipo y presentación de ideas**
                  </p> 
                  <p>
                    Durante mi último año de estudios, cursé una asignatura de Empresa que se centraba en el desarrollo de una idea innovadora dentro de un entorno emprendedor. Junto a un equipo de cuatro personas, fui seleccionado como Líder del proyecto. Aunque el proyecto no estaba directamente relacionado con la tecnología, nos brindó una excelente oportunidad para aprender sobre liderazgo y colaboración.
                  </p>
                  <p>
                    El objetivo era crear y presentar una propuesta de negocio innovadora, compitiendo con muchos otros grupos de nuestro centro. Gracias al esfuerzo y la cohesión del equipo, nuestro proyecto fue reconocido como una de las mejores iniciativas, lo que nos ofreció la posibilidad de participar en un evento de emprendedores organizado por el Banco Santander. Aunque no pudimos participar al evento por razones de tiempo, la experiencia fue invaluable.
                  </p>
                  <p>
                    Además, fortaleció nuestro trabajo en equipo y nos enseñó a gestionar desafíos de manera eficaz, siempre manteniendo una comunicación clara y enfocada en los objetivos del grupo.
                  </p>
                    <br>
                    <a href="https://github.com/MingBaoWei/SportsConnect" target="_blank" class="project-link">Ver Proyecto en GitHub</a>
                    <br><br>
                    <div class="project-image">
                      <img src="assets/img/maqueta_sportsconnect.png" alt="Proyecto 2">
                  </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
