<section class="skills" id="skills">
    <div class="contenido-seccion">
        <h2>Skills Principales</h2>
        <div class="fila">
            <!-- Frontend Skills -->
            <div class="col frontend">
                <h3>Frontend Skills</h3>
                <div class="skill">
                    <span>HTML</span>
                    <div class="barra-skill">
                        <div class="progreso html">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>CSS</span>
                    <div class="barra-skill">
                        <div class="progreso css">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>JavaScript</span>
                    <div class="barra-skill">
                        <div class="progreso javascript">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>TypeScript</span>
                    <div class="barra-skill">
                        <div class="progreso typescript">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Angular</span>
                    <div class="barra-skill">
                        <div class="progreso angular">
                            <span>70%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Backend Skills -->
            <div class="col backend">
                <h3>Backend Skills</h3>
                <div class="skill">
                    <span>Java</span>
                    <div class="barra-skill">
                        <div class="progreso java">
                            <span>65%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>PL/SQL</span>
                    <div class="barra-skill">
                        <div class="progreso plsql">
                            <span>65%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>PHP</span>
                    <div class="barra-skill">
                        <div class="progreso php">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Node.js</span>
                    <div class="barra-skill">
                        <div class="progreso nodejs">
                            <span>65%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Spring Boot</span>
                    <div class="barra-skill">
                        <div class="progreso springboot">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
