.skills-container {
    padding: 20px;
    background-color: #f1f3f5;
    min-height: 100vh;
    text-align: center;
  }
  
  .skills-container h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .skills-container p {
    font-size: 1.2rem;
    color: #555;
  }
  