<!-- SECCION OTHERS -->
<section class="others" id="others">
    <div class="contenido-seccion">
        <h2>Certificaciones</h2>
        
        <!-- Certificaciones -->
        <div class="others-certifications">
            <ul>
                <li>
                    <a href="assets/src/DAW.pdf" download="Certificación académica" target="_blank">
                        <img src="assets/img/daw.png" alt="Certificación 1">
                    </a>
                    <span>CERTIFICACIÓN ACADÉMICA OFICIAL</span>
                </li>
                <li>
                    <a href="assets/src/Certificado IA.pdf" download="Certificación IA" target="_blank">
                        <img src="assets/img/ia.png" alt="Certificación 2">
                    </a>
                    <span>Google: Inteligencia Artificial y productividad</span>
                </li>
                <li>
                    <a href="https://skillshop.exceedlms.com/student/award/DYeDNcXLNnYCguEZtiKPhU21" target="_blank">
                        <img src="assets/img/htmlcss1.png" alt="Certificación 3">
                    </a>
                    <span>Google - Introducción al desarrollo web: HTML y CSS (1/2)</span>
                </li>
                <li>
                    <a href="https://skillshop.exceedlms.com/student/award/GbsHCqeRvQwjJzKMoMj8xCu5" target="_blank">
                        <img src="assets/img/htmlcss2.png" alt="Certificación 4">
                    </a>
                    <span>Google - Introducción al desarrollo web: HTML y CSS (2/2)</span>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- PIE DE PAGINA (FOOTER) -->
<footer>
    <div class="footer-content">
        <p>&copy; 2024 Weiming Lai</p>

        <div class="footer-links">
            <a href="https://www.linkedin.com/in/weiming-lai/" target="_blank">LinkedIn</a>
            <a href="https://github.com/MingBaoWei" target="_blank">GitHub</a>
            <a href="#aboutme" target="_blank">Contactar Conmigo</a>
            <a href="#home">Volver al inicio</a>
        </div>
    </div>
</footer>
